* {
    margin: 0;
    padding: 0;
}


/* Iconos Header  */

header {
    background-color: #191d32;
}

html {
    font-family: Montserrat;
    background-color: #282f44;
    color: #F9F9F9;
}

.logos {
    display: flex;
    padding-top: 20px;
}

.logos a {
    color: #9368B7;
    font-size: 100px;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1;
}

.logos a:hover {
    color: #A683C3;
    transform: scale(1.1);
}

.contenedor-btn {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    justify-items: center;
    align-items: end;
}

.boton {
    font-family: Montserrat;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    width: 250px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    background-color: #59C9A5;
    transition: all ease 0.3s;
    border-radius: 5px;
    position: relative;
    border: 0px;
    overflow: hidden;
    margin-bottom: 15px;
    text-decoration: none;
    z-index: 2;
}

.boton span {
    position: relative;
    z-index: 3;
    transition: .3s ease all;
}

.efecto-btn::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #9368B7;
    position: absolute;
    z-index: 1;
    top: -50px;
    left: 0;
    transition: .3s ease-in-out all;
}

.efecto-btn:hover::after {
    top: 0;
}

/* imagen perfil animacion */

.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #84D7BD;
    color: #fff;
    position: relative;
    border: 5px solid #84D7BD;
    transition: all .5s;
    border-radius: 50%;
    overflow: hidden;
    padding-bottom: -50px;
    z-index: 1;
    bottom: -50px;
}

.efect::after {
    content: "";
    background-color: #9368B7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -300px;
    right: 0;
    transition: all .6s;
}

.btn span{
    position: relative;
    z-index: 2;
}

.btn span img {
    width: 105%;
}

.efect:hover::after{
    top: 0;
}

/* adornos tecnologias Header */

.word {
    position: absolute;
    font-size: 25px;
    z-index: 0;
    animation: word 15s linear infinite;
    opacity: .5;
}   

@keyframes word {
    0% {
        left: 10%;
    }

    50% {
        left: 90%;
        transform: rotate(25deg);
    }

    100% {
        left: 10%;
    }
}

.word:nth-child(1) {
    top: 3%;
    animation-duration: 10s;
}

.word:nth-child(2) {
    top: 8%;
    animation-duration: 9s;
}

.word:nth-child(3) {
    top: 13%;
    animation-duration: 12s;
}

.word:nth-child(4) {
    top: 18%;
    animation-duration: 13s;
}

.word:nth-child(5) {
    top: 23%;
    animation-duration: 11s;
}

.word:nth-child(6) {
    top: 28%;
    animation-duration: 14s;
}

.word:nth-child(7) {
    top: 33%;
    animation-duration: 9.5s;
}

.word:nth-child(8) {
    top: 38%;
    animation-duration: 8.5s;
}


/* Estilos de Tarjetas de Seccion Certificados */

.divTarjetas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
}

.tarjetasCetificados {
    background-color: #151829;
    padding: 50px;
    border-radius: 10px;
    margin: 25px;
    text-align: center;
}

.divTarjetas h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: #9368B7;
    text-align: center;
}

.divTarjetas h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5px;
    font-weight: 300;
}

.botonRemarcado {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    color: #59C9A5;
    list-style: none;
    border: 3px solid #59C9A5;
    border-radius: 8px;
    padding: 5px;

}

.botonRemarcado:hover {
    color: white;
    background-color: #59C9A5;
    border-color: #59C9A5;
    cursor: pointer;
}

/* Index Presentacion */

.titularIndexPortfolio {
    color: #59C9A5;
    text-align: center;
    margin-top: 120px;
}

.titularIndexPortfolio h1 {
    font-size: 15vh;
    font-weight: 400;
}

.titularIndexPortfolio h4 {
    font-size: 65px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 40px;
}

h2 {
    color: #59C9A5;
    margin: 20px;
    font-size: 35px;
    font-weight: 300;
}

p {
    margin: 20px;
    font-weight: 400;
}

#divTrabajarJuntos {
    margin: 75px;
    display: flex;
}

.divTextoTrabajarJuntos {
    padding: 20px;
}

.divTextoTrabajarJuntos p {
    text-align: justify;
}

#imgDibujoProgramando {
    width: 650px;
    border-radius: 10px;
}

/* Estilos Tecnologias */

.titularesPaginas {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
    font-size: 60px;
    font-weight: 400;
    color: #59C9A5;
    font-family: Montserrat;
    text-transform: uppercase;
}

.contenedorTecnologias {
    display: flex;
    justify-content: center;
}

.contenedorTecnologias ul li {
    display: inline-block;
    margin: 25px;
    font-size: 25px;
    transition: 1s all;
}

.contenedorTecnologias ul li:hover {
    transform: translateY(-10px);
    cursor: pointer;
}


/* icono WhatsApp */

.contenedorIconoWP {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.iconoWP {
    color: #59C9A5;
    font-size: 60px;
    transition: all .5s;
}

.iconoWP:hover {
    color: #84D7BD;
}

/* Proyectos  */

.proyectos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.proyectos div {
    display: flex;
    justify-content: center;
}

.proyectos div img {
    border-radius: 25px;
    width: 90%;
    transition: 1s all;
    margin: 10px;
}

.proyectos div img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#videoCualquiera {
    text-align: center;
}

#videoCualquiera h5 {
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 400;
    margin-bottom: 25px;
    color: #59C9A5;
}

@media screen and (max-width:1200px) {
    .contenedor-btn{
        display: grid;
        flex-direction: row;
        grid-template-columns: 1fr;
    }

    .contenedor-btn li:nth-child(3){
        order: -1;
        padding-bottom: 0;
        bottom: 0;
    }

    .logos a{
    font-size: 50px;
    }

    .titularIndexPortfolio{
        margin-top: 20px;
    }

    .titularIndexPortfolio h1 {
    font-size: 5vh;
    }

    .titularIndexPortfolio h4{
        font-size: 4vh;
    }

    .contenedor-word{
        display: none;
    }

    .iconoWP{
        display: none;
    }

    .divTarjetas{
        display: flex;
        flex-wrap: wrap;
    }

    .tarjetasCetificados {
        margin: 20px;
        padding: 20px;
    }

    .titularesPaginas{
        margin: 20px 10px;
        font-size: 5vh;
    }

    .contenedorIconoWP{
        flex-wrap: wrap;
        text-align: justify;
    }

    #divTrabajarJuntos{
        margin: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .divTextoTrabajarJuntos{
        padding: 10px;
    }

    #imgDibujoProgramando {
        width: 300px;
    }

    .btn{
        background-color: #9368B7;
    }

    .contenedorTecnologias ul li {
        margin: 10px;
        font-size: 20px;
    }

    .contenedorTecnologias{
        margin: 25px 15px;
    }

}
